/*------------------------------------------------------*
*-- CSS Drupal--------------*
*------------------------------------------------------*/

/*------------------------------------------------*
 *---  Provence Formation Janv. 2010 --*
 *------------------------------------------------*/

/*------- EFFETS VISUELS GENERIQUES--------------*/
.ombrage {
    border: 5px solid #fff;
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;
    }
.ombrage_bas {

    -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #555;
    }
.table_tr_ombrage_bas{
        -moz-box-shadow: 1px 2px 2px #aaa;
        -webkit-box-shadow: 1px 2px 2px #aaa;
        box-shadow: 1px 2px 2px #555;
    }
.ombrage_bloc {

    -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #555;
    }
.ombrage_bas_table_actu{
         -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #555;
}
.ombre-interne{
   -moz-box-shadow:inset 0 0 10px #000000;
   -webkit-box-shadow:inset 0 0 10px #000000;
   box-shadow:inset 0 0 10px #000000;
}
/*
HOMEPAGE STYLE==================================
*/
#HPGauche2 ul{
  margin: 0;
  padding: 0;
}
#HPGauche2 ul li{
  margin: 0;
  padding: 0;
  list-style:disc inside none;
}
#HPGauche2 li a{
  color: #95107D;
  text-decoration: none;
}
#HPGauche2 li a:hover{
  text-decoration: underline;
}
/*-------------------------------------------------
*********  COULEURS *****************
gris anthracite #606070
vert #ADC91F
violet #911381
orange #F29400
bleu turquoise #01ABCF
rouge #E3001C
rose fushia #E3001C
jaune #FAEB0C
*/


/**********STYLE POUR LES BLOCS*******************/

/**----HEADER---***/


/**----MIDDLE---***/
a#retour_haut{
    display: none;
    color: #AEC721;
    text-decoration: none;
    text-align: right;
    float:right;
}
a:hover#retour_haut{
    text-decoration: underline;
}
p{
    padding: 2px 0;
    margin: 0;
}
/*TABLES STYLES DIVERS*/
.table_generik{
    border: 0px solid black;
    width: 95%;
}
.table_generik tr{
    border: 0px solid black;
}
.table_generik tr.ligne_1{
    background: transparent;
    color: black;
}
.table_generik tr.ligne_2{
   background: #ADC91F;
   color: white;
}
.table_generik td{
    border: 0px solid black;
   
}
#table_frais{
    border: 0;
    width: 100%;
}
tr.tf_line_1{
    color: white;
    background: #01AAD3;
}
tr.tf_line_2{
    color: #E85231;
    background: white;
}
/*style lien en savoir plus*/
li.node_read_more a{
color : red;
text-decoration: none;
text-align:left;
}
li.node_read_more a:hover{
text-decoration: underline;
}


/****------formulaire contact/////////*/
#contact-mail-page{
margin: auto;
width: 550px;
padding: 0;
}

/**----CONTENT TOP---***/
#content-header{
padding: 5px;
}
#content-header .messages status{
    background: grey;
    padding: 3px;
}
/**style du fil d'ariane**/
.breadcrumb {
color:#d63e2a;
text-decoration:none;
}
##ariane{
    display: block;
    width: auto;
background: white;
}

.breadcrumb a{
color:#4e4d5e;
text-decoration:none;
background: white;
}
.breadcrumb a:hover{
color:#000;
text-decoration:underline;
}
.annonce{
    color:#E2017B;
    font-size:16px;
    font-weight:bold;
    margin:11px 0 0;
    padding:0;
    text-align:center;
}
.annonce a{
    color: #E2017B;
    text-decoration: none;
    font-weight: bold;
}
.annonce a:hover{
    text-decoration: underline;
}

/**----CONTENT BOTTOM---***/
#content-bottom a{
    color: #02A7D5;
    text-decoration: none;
}
#content-bottom a:hover{
    text-decoration: underline;
}
#content-top{}
.taxonomy{
text-align:right;
padding: 3px;
margin: 0px;
}
.taxonomy a{
color: #d63e2a;
text-decoration:none;
}
.taxonomy a:hover{
text-decoration:underline;
}
/*----page login------*/
#user-login{
margin: auto;
width: 450px;
padding:10px 0;
}
/**----COLONNE GAUCHE---***/
#left-content p{
	color:#000;

}
#left-content a{
	
	text-decoration:none;
}
#left-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#left-content li{
	margin:0;
	padding: 0;
	}
/**----COLONNE DROITE---***/
#right-content p{
	color:#000;

}
#right-content a{
	color:#666666;
	text-decoration:none;
}
#right-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#right-content li{
	margin:0;
	padding: 0;
	list-style:none;
}
/*********************************
----------------------------------
---- RESEAUX SOCIAUX Service links
---------------------------------*/
.service-links, #content-bottom-home .service-links{
    background: none repeat scroll 0 0 #EFEFEF;
    display: block;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
    width: 850px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
   behavior: url(/sites/all/libraries/PIE/PIE.htc);
   position: relative;
}
.service-links a{
    margin: 0 5px;
    color: #F29400;
}
.service-links a:hover{
    text-decoration: none;
}
.service-links{}
/* Bloc Follow sur Homepage  avec module Follow*/
#block-follow-site h3{
    font-family: arista,Trebuchet MS,sans-serif;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    color: #94117E;
}
#block-follow-site a{
    color:#F29400;
    text-decoration: none;
}
#block-follow-site a:hover{
    text-decoration: underline;
}
#block-follow-site{
    background: #ECECED;
    border: 1px solid #606070;
    padding: 5px;
    margin: 0 auto;
    width: 350px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
   behavior: url(/sites/all/libraries/PIE/PIE.htc);
}
#block-follow-site{}
/*------------------------------------
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
   STYLES POUR NODE CUSTOM
££££££££££££££££££££££££££££££££££££££
*/

/*-------------------------------------
        PAGE LYCEE NODE.TPL
*/
.plycee p{
    padding: 7px;
}
#colonne-1.plycee{
    border-right: 1px solid #E2001A;
}
.plycee{}
h1.plycee{
    color: #E2001A;
    margin: 5px;
}
#docs-utiles-lycee{
    background:  url(../images/bg_doc_utile_rp.jpg) repeat left top ;
    margin: 0 auto;
    width: 200px;
    padding: 20px 0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(/sites/all/libraries/PIE/PIE.htc);
    position: relative;
}
#docs-utiles-lycee h3{
    text-align: center;
    color: #E2001A;
    margin: 10px 0;
    font-family: Arista,Trebuchet MS, sans-serif;

}
#docs-utiles-lycee a{
    color: #606070;
    display: list-item;
    list-style-position: inside;
    list-style-type: square;
    text-decoration: none;
    padding: 2px;

}
#docs-utiles-lycee a:hover{
    background: #E2001A;
    color: white;
    padding: 2px 2px 5px;
}
#docs-utiles-lycee .filefield-icon {
    display: none;
}

.table-docs-utiles-lycee table{}
.table-docs-utiles-lycee tbody{}
.table-docs-utiles-lycee tr{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
}
.table-docs-utiles-lycee td{

}
.table-docs-utiles-lycee{}
.taxo_ficheform{
    background: #ACC624;
    color: #606070;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    width: 200px;
}
#media-lycee{
    width: 90%;
    margin: 0 auto;
}
/*********************************
----------------------------------
---- BLOC rostand ACTUS et AUTRES EVENEMENTS---------
---------------------------------*/
#bloc_rostand_actus, #bloc_autre_event{
  background-color: white;
  background-image: url(../images/bg_rostand_actus_ht.jpg),url(../images/bg_rostand_actus_bas.jpg);
  background-position: left 23px, left bottom;
  background-repeat: no-repeat;
    margin: 0 auto;
    padding: 5px 0;
    width: 210px;
}
#bloc_rostand_actus tr{}
#bloc_rostand_actus td{}
#bloc_rostand_actus h3, #bloc_autre_event h3{
    color: #01ABCF;
    font-family: arista,Trebuchet MS,sans-serif;
    padding: 5px;
    text-align: center;
     font-size: 20px;
}
#bloc_rostand_actus{}

.table_rostandactus tbody,.table_ae tbody{
  width: 200px;

}
.table_rostandactus td,.table_ae td{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    margin: 5px 0;
    padding: 0 0 0 5px;
    width: 200px;
}
.table_rostandactus tr, .table_ae tr{
    background: none repeat scroll 0 0 transparent;
    border: 0;

}
.table_rostandactus a, .table_ae a{
    text-decoration: none;
    color: #606070;
}
.table_rostandactus a:hover, .table_ae a:hover{
    background: #E2001A;
    color: white;
}
/*********************************
----------------------------------
---- PAGE ACTU GLOBALE   ---------
---------------------------------*/
#bloc_actus_projet,#bloc_actus_sortie{
        background:  url(../images/bg_bloc_rouge_ht.jpg) no-repeat left top ;
        width: 354px;
        margin: 0 auto;
        padding: 10px 0 0;
}
#bloc_actus_projet h3,#bloc_actus_sortie h3{
    color: white;
    font-family: Arista,Trebuchet MS,sans-serif;
    font-size: 20px;
    text-align: center;
}
#bloc_actus_projet .view-footer, #bloc_actus_sortie .view-footer{
    background: url(../images/bg_bloc_rouge_bas.jpg) no-repeat left bottom ;
     text-align: center;
        padding: 3px;
}
#bloc_actus_projet .view-footer a,#bloc_actus_sortie .view-footer a{
    color: white;
    font-family: Arista,Trebuchet MS,sans-serif;
    font-size: 12px;
    text-decoration: none;
}
#bloc_actus_projet .view-footer a:hover{
    text-decoration: underline
}
#table_ag_projets,#table_ag_sorties{
    
    margin: 0 auto;
    width: 275px;
}
#table_ag_projets tbody,#table_ag_sorties tbody{
    background: none;
    display: block;
    padding: 25px 0 0;
}
#table_ag_projets tr{}
#table_ag_projets td{
    text-align: center;
}
#table_ag_projets a{
    text-decoration: none;
    color: #606070;
    font-weight: bold;
}
#table_ag_projets a:hover{
    color: #EFEFEF;
}
hr.sep-actus-rouge{
    width: 265px;
    margin: 0 auto;
    border: 1px solid #E2001A;
    height: 1px;
}
#bloc_actus_sortie{}
#table_ag_sorties{}
#table_ag_sorties  a{
    color: #91127D;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
     display: block;
    
}
#table_ag_sorties  a:hover{
    color: #E2001A;
}
#table_ag_sorties  a:hover img{
 opacity:0.6;
-moz-opacity : 0.6;
-ms-filter: "alpha(opacity=60)"; /* IE 8 */
filter : alpha(opacity=60); /* IE < 8 */

-moz-box-shadow:inset 0 0 2px #CCC;
-webkit-box-shadow:inset 0 0 2px #CCC;
box-shadow:inset 0 0 2px #CCC;
}
#table_ag_sorties{}
/*Titre sur image*/
.titre_actuGlobale{
    bottom: 30px;
    left: 3px;
    position: relative;
    width: 190px;
    z-index: 20;
    background: white;
    display: block;
    
}
.titre_actuGlobale a,.image_actuGlobale img a{
     
}
.titre_actuGlobale a:hover{
   background: #E85231;
   text-decoration: none;
}
.image_actuGlobale{
height:75px;
position:relative;
width:301px;
z-index:15;
}
.image_actuGlobale img:hover{
    -moz-box-shadow:inset 0 0 2px #000000;
   -webkit-box-shadow:inset 0 0 2px #000000;
   box-shadow:inset 0 0 2px #000000;
}
/*--------------------------------------
        BLOC REVUE PRESSE
            ACTU GLOBALE
---------------------------------------*/
#bloc_actus_rp{
        background:  url(../images/bg_bloc_violet_ht.jpg) no-repeat left top ;
        width: 354px;
        margin: 0 auto;
        padding: 10px 0 0;
}
#bloc_actus_rp h3{
    color: white;
    font-family: Arista,Trebuchet MS,sans-serif;
    font-size: 20px;
    text-align: center;
}
#bloc_actus_rp .view-footer{
    background: url(../images/bg_bloc_violet_bas.jpg) no-repeat left bottom ;
     text-align: center;
        padding: 3px;
}
#bloc_actus_rp .view-footer a{
    color: white;
    font-family: Arista,Trebuchet MS,sans-serif;
    font-size: 12px;
    text-decoration: none;
}
#bloc_actus_rp .view-footer a:hover{
    text-decoration: underline
}
#table_ag_rp{

    margin: 0 auto;
    width: 275px;
}
#table_ag_rp tbody{
    background: none;
    display: block;
    padding: 25px 0 0;
}
#table_ag_rp tr{}
#table_ag_rp td{
    text-align: center;
    display: block;
}
#table_ag_rp a{
    text-decoration: none;
    color: #606070;
    font-weight: bold;
}
#table_ag_rp a:hover{
    color: #EFEFEF;
}
hr.sep-actus-violet{
    width: 265px;
    margin: 0 auto;
    border: 1px solid #94127F;
    height: 1px;
}
/*------------------------------
        BLOC ANNONCES
-----------------------------*/
#bloc_actus_annonces{
  background-color: white;
  background-image: url(../images/bg_rostand_actus_ht.jpg),url(../images/bg_rostand_actus_bas.jpg);
  background-position: left 23px, left bottom;
  background-repeat: no-repeat;
    margin: 0 auto;
    padding: 5px 0;
    width: 210px;
}
#bloc_actus_annonces tr{}
#bloc_actus_annonces td{}
#bloc_actus_annonces h3{
    color: #01ABCF;
    font-family: arista,Trebuchet MS,sans-serif;
    padding: 5px;
    text-align: center;
     font-size: 20px;
}
#bloc_actus_annonces{}

#table_ag_annonces tbody{
  width: 200px;

}
#table_ag_annonces td{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    margin: 5px 0;
    padding: 0 0 0 5px;
    width: 200px;
}
#table_ag_annonces tr{
    background: none repeat scroll 0 0 transparent;
    border: 0;

}
#table_ag_annonces a{
    text-decoration: none;
    color: #606070;
}
#table_ag_annonces a:hover{
    background: #E2001A;
    color: white;
}
#bloc_actus_annonces .view-footer{
    
     text-align: center;
        padding: 3px;
}
#bloc_actus_annonces .view-footer a{
    color: #E2001A;
    font-family: Arista,Trebuchet MS,sans-serif;
    font-size: 12px;
    text-decoration: none;
}
#bloc_actus_annonces .view-footer a:hover{
    text-decoration: underline
}
/*------------------------
BLOC FLUX RSS ACTU DE L'ASSO
-----------------------------*/
#block-aggregator-feed-1 h3{
    color: #01ABCF;
    font-family: arista,Trebuchet MS,sans-serif;
    padding: 5px;
    text-align: center;
     font-size: 18px;
}
#block-aggregator-feed-1 ul{
    list-style: none;
    background:  url(../images/bg_doc_utile_rp.jpg) repeat left top ;
    margin: 0 auto;
    width: 200px;
    padding: 20px 0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(/sites/all/libraries/PIE/PIE.htc);
    position: relative;
}
#block-aggregator-feed-1 ul li{
    margin: 5px 0;
    list-style: none;

}
#block-aggregator-feed-1 li a{
    text-decoration: none;
    padding: 2px;
    display: block;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(/sites/all/libraries/PIE/PIE.htc);
    position: relative;
    width: 175px;
    margin: 0 auto;
    color: white;
    background: #E2001A;

}
#block-aggregator-feed-1 li a:hover{
      background: white;
       color: #E2001A;
    text-decoration: none;
}
/***********************************
    PAGE CLASSE - TABLE
************************************
*/
h1.titre_rouge{
    color: #E2001A;
    margin: 5px;
}
#table-classes{
    margin: 10px;
}
#table-classes tbody{}
#table-classes tr{}
#table-classes td{
    text-align: center;
    background: #EFEFEF;
    display: inline-block;
    margin: 2px 7px;
    width: 160px;
    vertical-align: text-top;
}
#table-classes td:hover {
       -moz-box-shadow: 0 0 2px #000000;
   -webkit-box-shadow: 0 0 2px #000000;
   box-shadow: 0 0 2px #000000;
}
#table-classes td a{
    color: #606070;
    display: block;
    margin: 2px 0;
    padding: 3px;
    text-decoration: none;
}
#table-classes td a:hover{
    background: #E2001A;
    color: white;
}
#table-classes .filefield-icon{
    display: none;
}

#table-classes h3 {
    font-size: 14px;
    color: #00ACD1;
    display: block;
    font-family: Arista,Trebuchet MS,sans-serif;
    padding: 5px;
}

/*********************************
----------------------------------
---- FICHE FORMATION   ---------
---------------------------------*/
h1.titre_fiche{
    margin: 5px;
}
#deco-ficheform{
    
}

#deco-ficheform img{
    display: block;
    margin: 0 auto;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(/sites/all/libraries/PIE/PIE.htc);
    position: relative;
}

.content-1{
    border-right: 1px solid #E2001A;
    margin: 0 5px 0 0;
}
#content-2{}

.content-1 p,#content-2 p{
    padding: 3px;
}
.content-1 h2,#content-2 h2{
    color: #E2001A;
}
.content-1 h3,#content-2 h3{
    color: #ADC91F;
}
#bloc_docs_ficheform{
     padding: 10px 0;
    margin: 0 auto;
    width: 210px;
}
#bloc_docs_ficheform h3{
    background: url("../images/bg_infosplus_rouge.jpg") no-repeat scroll 10px top transparent;
    color: white;
    display: block;
    padding: 5px 5px 12px;
    text-align: center;
}
#bloc_docs_ficheform{

}
#table-ficheform-docs{
    background: url("../images/bg_bloc_ivoire_ht.jpg") no-repeat scroll left top transparent;
    display: block;
    margin: 0 auto;
}
#table-ficheform-docs tbody{
    display: block;
    height: 140px;
    padding: 10px;
    background: url("../images/bg_bloc_ivoire_bas.jpg") no-repeat scroll left bottom transparent;
}
#table-ficheform-docs tr{}
#table-ficheform-docs td{
    display: block;
    width: 190px;
}
#table-ficheform-docs a{
     border-bottom: 1px solid #E2001A;
    color: #606070;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin:  3px 0;
}
#table-ficheform-docs a:hover{
    color: #E2001A;
}
#bloc_docs_ficheform .filefield-icon {
    display: none;
}
/*********************************
----------------------------------
---- PAGE VDL NODE.TPL --
----------- LISTE --------------
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/
#colonne-2.vdl_liste{
    border-left: 1px solid #911381;
    border-right: 1px solid #02A7D5;
    padding: 3px;
}


h1.titre_page_vdl{
    margin: 3px;
}

#bloc_liste_vdl .views-exposed-form{
 width: 95%;
 margin: 0 auto;
}
#bloc_liste_vdl .date-views-filter-wrapper{
    width: auto;
    min-width: 20%;
}
#bloc_liste_vdl span.views-field-name,#bloc_liste_vdl span.views-field-created,#bloc_liste_vdl span.views-field-field-date-evenement-value{
    font-style: italic;
    font-size: 10px;
    padding: 0 5px;
    text-align: right;

}
#bloc_liste_vdl span.date-display-single{
    font-style: italic;
    font-size: 10px;
    padding: 0 5px;
    text-align: right;
}
.table_liste_vdl{
    padding: 5px;
}
.table_liste_vdl tbody{}
.table_liste_vdl tr{
     margin: 5px 0;
     border: 0;
     background: none;
}
.table_liste_vdl td{
     margin: 5px 0;
    display: block;
    padding: 3px;
}
.table_liste_vdl a{
        text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
    color: #E2001A;
}
.table_liste_vdl a:hover{
      color: #911381;
}
.table_liste_vdl{}

.table_liste_vdl hr{
    border-top: 1px solid #E2001A;
    width: 75%;
    margin: 0 auto;
}
.deco_vdl{
    float: right;
}
/*********************************
----------------------------------
---- PAGE POLE FORMATION NODE.TPL --
----------- LISTE --------------
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/
h1.titre_page-pole{
    color: #E2001A;
    text-align: center;
}
h3.titre-pole-formation{
    background: url("../images/bg_titre_pole.jpg") no-repeat scroll left top transparent;
    color: white;
    display: block;
    font-family: Arista,Trebuchet MS,sans-serif;
    font-size: 16px;
    height: 30px;
    margin: 0 auto;
    padding: 12px 0;
    text-align: center;
    width: 300px;
}
.table-pole-formations{
    width: 295px;
    margin: 0 auto;
    background: url("../images/bg_ivoire_pole.jpg") no-repeat scroll left top transparent;
    display: block;
    padding: 10px 5px;
}
.table-pole-formations tbody{
    
}
.table-pole-formations tr{
    display: block;
    margin: 0 auto;
    width: 282px;
}
.table-pole-formations td{
    padding: 5px 11px;
     width: inherit;
}
.table-pole-formations td a{
    
}
.table-pole-formations a{
    text-decoration: none;
    color: #606070;
    font-weight: bold;
    border-bottom: 1px solid #E3001C;
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}
.table-pole-formations a:hover{
    color: #E3001C;
}
.table-pole-formations p{
    display: block;
    padding: 0 10px;
    text-align: center;
    width: 265px;
}
/*------------------------------------
----- CONTENU VDL -------------------
************************************/
#colonne-1.content_vdl{
    border-right: 1px solid #E3001C;
}
#colonne-1.content_vdl p{
    padding: 3px;
}
#colonne-1.content_vdl a{
    color: #E3001C;
    font-weight: bold;
}
#colonne-1.content_vdl a:hover{
    text-decoration: none;
}
#colonne-1.content_vdl h2{
    color: #911381;
    padding: 2px 5px;
}
#colonne-1.content_vdl h3{
    color: #01ABCF;
    padding: 2px 5px;
}
/* Medias pour contenu VDL*/
#video-vdl{
    width: 425px;
    margin: 0 auto;
    padding: 2px;
    border: 1px solid #970F7D;
}
#galerie-vdl{
    padding: 5px 0;
}
#galerie-vdl h3{
    text-align: center;
    color: #970F7D;
    font-size: 20px;
    margin: 5px;
}
.view-Diapo-vie-du-lycee img{
    border: 5px solid #fff;
    -moz-box-shadow: #AAAAAA 0px 0px 2px ;
    -webkit-box-shadow: #AAAAAA 0px 0px 2px;
    box-shadow: #AAAAAA 0px 0px 2px;
}
/*Documents joints CONTENU VDL et ACTUALITE*/
#table-docs{}
#table-docs tbody{
    display: block;
    height: 140px;
    padding: 10px;

}
#table-docs tr{}
#table-docs td{
    display: block;
    width: 190px;
}
#bloc_docs_contentVDL .filefield-icon,#bloc_docs_contentActu .filefield-icon{
    display: none;
}
#bloc_docs_contentVDL h3, #bloc_docs_contentActu h3{
    color: #01ABCF;
    font-family: arista,Trebuchet MS,sans-serif;
    padding: 5px;
    text-align: center;
     font-size: 18px;
}
#bloc_docs_contentVDL table, #bloc_docs_contentActu table{
    background:  url(../images/bg_doc_utile_rp.jpg) repeat left top ;
    margin: 0 auto;
    width: 200px;
    padding: 20px 0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(/sites/all/libraries/PIE/PIE.htc);
    position: relative;
}
#bloc_docs_contentVDL tr, #bloc_docs_contentActu tr{
    margin: 5px 0;
   display: block;

}
#bloc_docs_contentVDL td a, #bloc_docs_contentActu td a{
    text-decoration: none;
    padding: 2px;
    display: block;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(/sites/all/libraries/PIE/PIE.htc);
    position: relative;
    width: 175px;
    margin: 2px 5px;
    color: white;
    background: #E2001A;
    text-align: center;

}
#bloc_docs_contentVDL td a:hover, #bloc_docs_contentActu td a:hover{
      background: white;
       color: #E2001A;
    text-decoration: none;
}